@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --blanco: rgb(255, 255, 255);
    --lila: rgb(158, 100, 206);
    --celeste: rgb(138, 224, 250);
    --azul: rgb(70, 67, 241);
    --verde: rgb(80, 221, 127);
    --fuente: "Dancing Script", cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom,var(--lila),var(--celeste)) ;
    height: 100vh;
    font-family: var(--fuente);
    font-size: 20px;
  }

  .contenedor{
    height: 600px;
    width: 400px;
    margin: 0 auto;
    max-width: 80%;
  }

  .perfil{
    color: var(--blanco);
  }

  .Thi_span{
    letter-spacing: 1px;
  }

  .agregar_tarea{
    background-color: var(--blanco);
    height: 70px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 10px;
    margin: 40px 0;
    font-size: 100px;
  }

  #agregar_una_tarea{
    background-color: var(--blanco);
    border: none;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: var(--celeste);
    padding: 10px;
  }

  .i_a_t{
    font-size: 50px;
    color: var(--celeste);
  }

  .i_a_t:hover{
    transform: scale(1.1);
    cursor: pointer;
  }

  #agregar_una_tarea:placeholder{
    font-size: 16px;
    color: var(--celeste);
    padding: 10px;
  }

  .Thi_h3{
    color: var(--blanco);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .Thi_li{
    background: linear-gradient(to bottom,var(--azul),var(--lila)) ;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
  }

  .lista_de_tareas i{
    font-size: 25px;
    color: var(--blanco);
  }

  .lista_de_tareas i:hover{
    color: var(--verde);
    cursor: pointer;
  }

  .tarea{
    font-size: 40px;
    color: var(--blanco);
  }

  .tachado{
    text-decoration: line-through var(--verde) 10px;
    color: var(--lila);
  }