@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --blanco: rgb(231, 242, 252);
    --lila: rgb(200, 133, 255);
    --celeste: rgb(79, 252, 237);
    --azul: rgb(79, 79, 219);
    --verde: rgb(85, 175, 153);
    --fuente: "Lato", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom,var(--lila),var(--verde)) ;
    height: 100vh;
    font-family: var(--fuente);
  }

  .contenedor{
    height: 600px;
    width: 400px;
    margin: 0 auto;
    max-width: 80%;
  }

  .perfil{
    color: var(--blanco);
  }

  .Thi_span{
    letter-spacing: 1px;
  }

  .agregar_tarea{
    background-color: var(--blanco);
    height: 70px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 10px;
    margin: 40px 0;
  }

  #agregar_una_tarea{
    background-color: var(--blanco);
    border: none;
    width: 100%;
    height: 100%;
  }

  .i_a_t{
    font-size: 50px;
    color: var(--lila);
  }

  .i_a_t:hover{
    transform: scale(1.1);
    cursor: pointer;
  }

  #agregar_una_tarea:placeholder{
    font-size: 16px;
    color: var(--lila);
    padding: 10px;
  }

  .Thi_h3{
    color: var(--blanco);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .Thi_li{
    background: linear-gradient(to bottom,var(--azul),var(--verde)) ;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
  }

  .lista_de_tareas i{
    font-size: 25px;
    color: var(--blanco);
  }

  .lista_de_tareas i:hover{
    color: var(--celeste);
    cursor: pointer;
  }

  .tarea{
    font-size: 18px;
    color: var(--blanco);
  }

  .tachado{
    text-decoration: line-through var(--celeste) 2px;
    color: var(--celeste);
  }